@model IEnumerable<TransferWise.Models.Transfer>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RecipientUserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SenderAccountName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SenderAccountIndex)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Message)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RecipientUserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SenderAccountName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SenderAccountIndex)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Message)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TransferID }) |
            @Html.ActionLink("Details", "Details", new { id=item.TransferID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TransferID })
        </td>
    </tr>
}

</table>
